<!doctype html>
<html>
<head>
    <title>Make It Able For Disablee</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
   </head>
<body>
    <form action="/businessform1" method="post">
	<fieldset>
		<legend>Business</legend>
		<div class="businessform">
			<label for="name">Business Name:</label>
			<input type="text" name="name" />
		</div>
		<br />
		<div class="businessform">
			<label for="name">Business Type:</label>
			<select name="type">
            	<option>Choose an option...</option>
				<option value="1">Retail</option>				
				<option value="2">Transport</option>
				<option value="3">Restaurant</option>
			</select>
		</div>
		<br />
		<div class="businessform">
			<label for="address">Address:</label>
			<input type="text" name="address" />
		</div>
		<br />
		<div class="businessform">
			<label for="">Phone:</label>
			<input type="text" name="phone" />
		</div>
		<br />
		<div class="businessform">
			<label for="">Fax:</label>
			<input type="text" name="fax" />
		</div>
		<br />
		<div class="businessform"> 
			<label for="email">Email:</label>
			<input type="text" name="email" />
		</div>
		<br /><br />
		<p class"surveyparagraf">Does your business have doors that are wheelchair accessible?<br />
		<select name="question1">
            	<option>Choose an option...</option>
				<option value="1">Yes. Our doors are wheel chair accessible</option>				
				<option value="2">No. Our doors are not wheel chair accessible</option>
		</select>
		</p>
		
		<p class"surveyparagraf">Does your business have elevators that are wheelchair accessible and accessible for the disable?<br />
		<select name="question2">
            	<option>Choose an option...</option>
				<option value="1">Yes. We have elevators that are wheelchair accessible</option>				
				<option value="2">Yes. We have elevators but they are not wheelchair accessible</option>
				<option value="3">No. We do not have any elevator</option>
		</select>
		</p>
		
		<p class"surveyparagraf">Does your business have escalators?<br />
		<select name="question3">
            	<option>Choose an option...</option>
				<option value="1">Yes. We have escalotors</option>				
				<option value="2">No. We do not have escalotors</option>
		</select>
		</p>
		
		<p class"surveyparagraf">Does your business have ramps for the disable?<br />
		<select name="question4">
            	<option>Choose an option...</option>
				<option value="1">Yes. We have ramps</option>				
				<option value="2">No. We do not have ramps</option>
		</select>
		</p>
		
		<p class"surveyparagraf">Does your business have bathrooms that are wheelchair accessible?<br />
		<select name="question5">
            	<option>Choose an option...</option>
				<option value="1">Yes. We have bathrooms that are wheelchair accessible</option>				
				<option value="2">No. We do not have bathrooms that are wheelchair accessible</option>
		</select>
		</p>

		<input type = "submit" value = "Sumit"/>

	</fieldset>
	</form>
</body>
		
</html>
