<!doctype html>
<html>
<head>
    <title>Make It Able For Disablee</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
   </head>
<body>
     <form action="/business_form" method="POST">
	<fieldset>
		<legend>Everyone</legend>
		<div class="businessform">
			<label for="name">Business Name</label>
			<input type="text" name="name"/>
		</div>
		<div class="businessform">
			<label for="name">Business Type</label>
			<select>
            	<option>Choose an option...</option>
				<option value="1">Retail</option>				
				<option value="2">Transport</option>
				<option value="3">Restaurant</option>
			</select>

		</div>
		<div class="businessform">
			<label for="address">Address</label>
			<input type="text" name="address" />
		</div>
		<div class="businessform">
			<label for="">Phone</label>
			<input type="text" name="phone" />
		</div>
		<div class="businessform">
			<label for="">Fax</label>
			<input type="text" name="fax" />
		</div>
			<label for="email">Email</label>
			<input type="text" name="email" />
		</div>
	</fieldset>
</form></body>
</html>
