<!DOCTYPE html>
<html>
<head>
<title>Testing java script buttons</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="myjs.js"></script>

</head>

<body style="background-color:#99CCFF">
<style type="text/css"></style>
<div>
	
	
	
	<div style="text-align: center;">
		
			<h1 align="center">Make it Able for Disable </h1>
			<img src="/home/md/Desktop/happysign.png">
			<h2 align="center">Our Mission</h2>
			<p >Make it Able for Disable is a website that helps</p> 
			<p>businesses and people alike. 1 in 5 people in U.S.</p>
			<p>have a disability according to the U.S. Census Bureau.</p>
			<p>We are inspired by disable people and their courage and</p>
			<p>want to make the world more able for the disable. Our website </p>
			<p>is designed for the people to locate businesses that are acessiable </p>
			<p>through surverys. </p>
			<!--<img src=/>-->
			<a align="center" href="about.html">
				<button>Surveys</button>
			</a>

	</div>

</div>

</body>


</html>
